@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  

input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: #4b5563 !important; /* Autofill background color for dark mode */
  color: #ffffff !important; /* Ensures text color is readable in dark mode */
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
